@font-face {
  font-family: 'm3';
  src:  url('../fonts/montserrat300.woff2') format('woff2');
}
@font-face {
  font-family: 'm';
  src:  url('../fonts/montserrat.woff2') format('woff2');
}
@font-face {
  font-family: 'm5';
  src:  url('../fonts/montserrat500.woff2') format('woff2');
}
@font-face {
  font-family: 'm6';
  src:  url('../fonts/montserrat600.woff2') format('woff2');
}
@font-face {
  font-family: 'm7';
  src:  url('../fonts/montserrat700.woff2') format('woff2');
}

* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
body {
  position:relative;
  font-family:m;
  font-size: 14px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
table{
    border-collapse:collapse;
}
.ddn {
    display: none !important;
}
.clear{
    clear:both;
}
.c,
.c1,
.c2,
.c3{
    width:920px;
    margin:0 auto;
}
.c2{
    padding:0px 13px 0px 13px;
}
.c:after,
.c1:after,
.c2:after,
.c3:after{
    content:'';
    clear:both;
    display:block;
}
.c1{
    padding:0 13px;
}

.hr-c{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:11;
}
.hr1{
    background:#fff;
    box-shadow: 0 5px 8px rgba(0,0,0,0.2);
    position: relative;
    z-index: 5;
}
.hr1 .c:after{
    content:'';
    clear:both;
    display:block;
}
.hr1-a{
    display:inline-block;
    vertical-align:top;
    margin:5px 20px 10px 0;
}
.hr1-f{
    vertical-align:top;
    width:245px;
}
.hr1-f1{
    width:39px;
}
.hr1-b{
    float:right;
}
.hr1-b-1{
    display:inline-block;
    vertical-align:top;
    padding:15px 35px 15px 0;
    text-align:right;
}
.hr1-a1{
    color:#4b78b9;
    font-size:13px;
    font-style:italic;
    display:inline-block;
}
.hr1-b-2{
    vertical-align: bottom;
    margin: 0 0 -15px;
    padding:10px 10px 15px;
    font-size:13px;
    color:#fff;
    background: #5B8CD4;
    background: linear-gradient(#5b8dd5, #4c79ba);
    border-radius:0 0 15px 15px;
    box-shadow:0 5px 10px rgba(0,0,0,0.3);
    display:inline-block;
    text-align:center;
    width:100px;
}
.hr1-w{
    margin:5px 0 0 0;
    
}
.hr2{
    background: #4b78b9;
}
.b13-w-c{
    background: #4b78b9 url(../img/ftr-bg.png);
    height: 265px;
}
.b13-w{
    color:#fff;
    line-height:220%;
    font-size:16px;
    font-family:m3;
    margin-bottom:40px;
    padding:42px 25px;
}
.menu{
    
}
.menu:after{
    content:'';
    clear:both;
    display:block;
}
.menu-li{
    float:left;
}
.menu-a{
    display:inline-block;
    padding:20px 25px;
    color:#fff;
    font-size:15px;
}
.menu-a.act{
    background:#3a65a4;
}
.menu-a:not(.act):hover{
    background:#6791cc;
}
.b2{
}
.b2-b{
    float:right;
    width:55%;
    padding:20px 0 20px 30px;
}
.b2-h{
    color:#4b78b9;
    font-size:28px;
    font-family:m6;
    line-height: 100%;
    margin: 0 0 20px -17px;
}
.b2-ul{
    color:#555555;
    font-size:13px;
}
.b2-li{
    list-style: unset;
    margin:0 0 5px;
}
.b2-crl.owl-theme .owl-nav.disabled + .owl-dots {
    bottom: 3px;
    right: 0;
    left: 0;
    position: absolute;
    margin:0 auto;
    top:auto;
}
.b2-crl .owl-stage-outer{
    width: 100%;
}
.b2-crl .item{
    background-position: left bottom;
    height:297px;
    background-repeat: no-repeat;
}
.b2-crl .item:after{
    content:'';
    clear:both;
    display:block;
}
.owl-theme .owl-dots .owl-dot{
    border:1px solid #666666;
    border-radius:50%;
    margin:0 7px 0 0;
}
.owl-theme .owl-nav.disabled + .owl-dots {
    top: -79px;
    z-index: 5;
    position: relative;
}
.owl-theme .owl-dots .owl-dot.active span{
    background:#666666;
    border-radius:50%;
}
.owl-theme .owl-dots .owl-dot span{
    margin:2px;
    background:transparent;
}

.qnyk{ 
    display:inline-block;
}
.qnyk span{ 
	display:inline-block;
	vertical-align:top;
	margin-top:4px;
	font-size:12px;
}
.qny{
    user-select: none;
	position:relative;
	display:inline-block;
	vertical-align:top;
}
.qny *{
	 box-sizing: border-box;
}
.qny p{
	line-height: 85%;
    padding-top: 0px;
	border:1px solid #cacaca;
    border-radius:4px;
	text-align:center;
	font-weight:bold;
    font-family:m6;
	height: 18px;
	width: 20px;
	font-size: 20px;
	float: left;
	cursor: pointer;
	margin: 0;
}
.qny .mns{
    background:url(../img/minusG2.svg)no-repeat;
    background-size: 8px;
    background-position: 50%;
}
.qny .pls{
    background:url(../img/plusG2.svg)no-repeat;
    background-size: 8px;
    background-position: 50%;
}
.qny .nmr{
    text-align:center;
    color:#555555;
	width:44px;
	height:18px;
	font-size:18px;
	padding:3px 5px 0;
	border:0;
	background:transparent;
	float:left;
}
.qny .kq{
	position:absolute;
	top:0px;right:0px;
	display:none;
	z-index:950;
}

.qny .nmr:hover + .kq{
	display:block;
}
.qny .kq:focus,
.qny .kq:hover{
	display:block;
}
.qny input:focus + .kq{
	display:block;
}	
.qny .mns:hover{
    background-image:url(../img/minusW2.svg);
    background-color:#4b78b9;
}
.qny .pls:hover{
    background-image:url(../img/plusW2.svg);
    background-color:#4b78b9;
}
.b3-t1.act .qny .pls{
    background-image:url(../img/plusW2.svg);
	background-color:#4b78b9;
}

.b3{
    margin-bottom:50px;
}
.b3-t{
    width:100%;
    margin:0 0 40px;
}
.b3-td{
    position:relative;
    z-index:5;
    border-top:1px solid #cccccc;
    border-left:1px solid #cccccc;
}
.b3-t tr .b3-td:first-child{
    border-top:1px solid #cccccc;
    border-left:1px solid transparent;
    border-bottom:1px solid #ccc;
}
.b3-t tr:last-child .b3-td{
    border-bottom:1px solid #ccc;
}
.b3-t_1 tr:first-child .b3-td{
    border-top:0;
}
.b3-tr .b3-td{
    border-color:transparent !important;
    height:40px !important;
    border-top:1px solid #ccc !important;
}
.b3-t_2 .b3-td:last-child{
    border-right:1px solid #ccc !important;
}
.b3-t_2 tr:last-child .b3-td{
    border-bottom:1px solid transparent !important;
}
.b3-t_3 .b3-td:last-child{
    border-right:1px solid #ccc !important;
}
.b3-th{
    padding:20px 10px;
    color:#555555;
    font-size:18px;
    font-family:m6;
    text-align:center;
}
.b3-td{
    width: 200px;
    height:200px;
}
.b3-t .b3-td:nth-child(1),
.b3-t .b3-td:nth-child(2){
    width:1px;
}
.b3-t_2{
    margin: auto;
    width:auto;
}
.b3-t_3 .b3-td:nth-child(2){
    width:46px;
}
.b3-t_3 .b3-w2-1_1 {
    top: -9px;
}
.b3-td_1{
    min-width: 75px;
}
.b3-td_2{
    min-width:45px;
}
.b3-w2{
    left: 50%;
    position: absolute;
    top: 50%;
    font-size:17px;
    font-family:m6;
    color:#555555;
}
.b3-w2-1{
    transform: rotateZ(-90deg);
    position: relative;
    top: -9px;
    left: -50%;
}
.b3-w2-1_1{
    top:-20px;
}
.b3-td{
    padding:10px 10px;
}
.b3-t1{
    width:100%;
    color:#555555;
}
.b3-td_3 .b3-t1{
    width:220px;
    margin: 0 0 0 98px;
}
.b3-t1.act .b3-h{
    color:#4b78b9;
}
.b3-t1:hover .b3-f,
.b3-t1.act .b3-f{
    filter:none;
}
.b3-t1.act .qny .nmr,
.b3-t1.act .b3-w1{
    color:#4b78b9;
    font-family:m6;
}
.b3-td1:first-child{
    vertical-align:middle;
    padding:0 10px 0 0;
}
.b3-f{
    filter: grayscale(1);
    width: 83px;
}
.b3-f1{
    width:91px;
}

/*- ++B O X -*/
.box{
    display:none;
}
.box.act{
    position:fixed;
    top:0;
    left: 0;
    z-index:999;
    width: 100%;
    height: 100%;
    display: table;
    text-align:center;
    background:rgba(0,0,0,0.5);
}
.box-td{
    display:table-cell;
    vertical-align:middle;
}
.box-b{
    position:relative;
    z-index:5;
    display:inline-block;
    overflow:auto;
    max-height: 100vh;
    padding:20px;
}
.box-bn{
    position:absolute;
    top: 5px;
    right: 5px;
    background:#fff url(../img/box-bn.svg)no-repeat center center;
    padding:15px;
    background-size:14px;
    border-radius:50%;
    cursor:pointer;
    box-shadow:0 0 5px rgba(0,0,0,1);
}
.box-b1{
    padding:15px;
    background:#fff;
}
.box-h{
    font-size:20px;
    margin-bottom:10px;
}
.box-f{
    max-width:100%;
    max-height:70vh;
}

/*- ==B O X -*/

.b3-b{
    min-height:80px;
}
.b3-h{
    font-family:m6;
    font-size:14px;
    line-height:100%;
}
.b3-w{
    font-size:12px;
}
.b3-h1{
    font-family:m3;
    margin:0 0 5px;
    line-height:100%;
}
.b3-w1{
    font-size:10px;
    text-align:center;
}
.c0{
    box-shadow:0 -5px 10px rgba(0,0,0,0.1);
}
.b3-t2{
    width:100%;
}
.b3-t2 .b3-t_2{
    margin-bottom:0px;
}
.b3-td2{
    vertical-align:top;
    position:relative;
    z-index:5;
}
.b3-td2 .b3-t:last-child{
    margin:0;
}
.b3-td2:first-child{
    width:322px;
}
.b3-td2:last-child{
    border-top:1px solid #ccc;
    padding:0 0 120px;
}
.b3-h2{
    font-size:22px;
    color:#4b78b9;
    font-family:m6;
    margin:34px 0 5px 30px;
}
.b3-w3{
    color:#555555;
    margin:0 0 25px 30px;
}
.b3-b1{
    border-bottom:1px solid #ccc;
    padding:8px 30px 10px;
    position:relative;
    z-index:5;
}
.b3-b1_1{
    display:none;
}
.b3-h3{
    margin:0 0 5px;
}
.b3-h3-1{
    color:#4b78b9;
    font-family:m5;
    font-size:18px;
}
.b3-h3-2{
    color:#555555;
}
.b3-w4{
    line-height:80%;
    color:#555555;
    background:url(../img/b3-3.png)repeat-x 100% 100%;
}
.b3-w4-1,
.b3-w4-2{
    background:#fff;
    position:relative;
    z-index:6;
}
.b3-w4-1{
    padding-right:5px;
}
.b3-w4-2{
    float:right;
    padding-left:5px;
}
.b3-h3-2{
    margin:0 0 0 5px;
}
.b3-bn{
    width:10px;
    height:10px;
    position:absolute;
    top:8px;
    right:30px;
    background:url(../img/b3-4.png);
    cursor:pointer;
}
.b3-bn:hover{
    background:url(../img/b3-4-1.png);
}
.b3-b2{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    padding-right:13px;
}
.b3-t3{
    display:inline-block;
    margin:20px 0 0 30px;
    vertical-align: top;
}
.b3-t3_1{
    margin-left:10px;
}
.b3-td3{
    padding:0 13px 0 0;
    color:#4b78b9;
    vertical-align:top;
    font-family:m6;
}
.b3-td3:last-child{
    width:115px;
}
.b3-h5{
    display:none;
    font-size: 15px;
    font-family: m6;
    color: #555555;
}
.b3-t3_1{
    float:right;
}
.b3-h4{
    font-size:13px;
}
.b3-w5{
    font-size:25px;
    line-height:90%;
}
.b3-w6{
    line-height:80%;
    font-size:22px;
}
.b3-w7{
    font-size:15px;
}
.b4{
    margin:30px 15px 45px;
}
.b4-f{
    width: 80px;
    margin:0 15px -6px 0;
    vertical-align:bottom;
    display:inline-block;
}
.b4-w{
    display:inline-block;
    font-size:25px;
    line-height:90%;
    font-style:italic;
    font-family:m5;
    color:#4b78b9;
    margin:0 20px 0 0;
    width:350px;
    vertical-align:bottom;
}
.b4-bn{
    vertical-align:bottom;
    display:inline-block;
    border-radius:7px;
    background:#4b78b9;
    width:348px;
    text-align:center;
    color:#fff;
    padding:13px 10px;
}
.ftr{
    background:#4b78b9 url(../img/ftr-bg1.png)bottom;
}
.ftr .c{
    padding:35px 15px 50px;
}
.ftr-a{
    display:inline-block;
    vertical-align:middle;
}
.ftr-a-f{
    vertical-align:top;
    width: 197px;
}
.menu1{
    display:inline-block;
    vertical-align:middle;
    margin:0 0 0 25px;
}
.menu1-li{
    margin:5px 13px;
    display:inline-block;
}
.menu1-a{
    color:#fff;
    font-family:m6;
}
.ftr-b{
    float:right;
    margin:16px 0 0 10px;
}
.ftr-w{
    font-size:12px;
    font-family:m3;
    text-align:center;
    margin:55px 0 0;
    color:#fff;
}
.ftr-a1{
    margin:0 5px;
}

.b5{
    padding-top:55px;
    padding-bottom:75px;
}
.b5-c{
    margin-bottom:50px;
}
.b5-b-c:after{
    content:'';
    clear:both;
    display:block;
}
.b5-b{
    float:left;
    width:33.333%;
    padding:0 15px 70px 0;
}
.b5-b:nth-child(2){
    text-align:right;
}
.b5-b:nth-child(2) .b5-b-1{
    display:inline-block;
    text-align:left;
}
.b5-b:nth-child(3){
    padding-right:0;
    text-align:right;
}
.b5-b:nth-child(3) .b5-b-1{
    display:inline-block;
    text-align:left;
}
.b5-h{
    color:#555555;
    font-size:20px;
    font-family:m6;
    margin:0 0 25px;
}
.b5-a-c{
    margin:0 0 5px;
}
.b5-a-c0{
    height:65px;
    margin:0 0 10px;
}
.b5-a{
    padding:0 0 0 35px;
    color:#555555;
    font-family:m3;
    background:url(../img/b5-1.svg)no-repeat 0 50%;
}
.b5-a1{
    color:#555555;
    font-family:m3;
    padding:0 0 0 30px;
    background:url(../img/b5-2.svg)no-repeat 0 50%;
}
.b5-h1{
    color:#4b78b9;
    font-size:29px;
}
.b5-w{
    color:#555555;
    font-family:m3;
    margin:0 0 40px;
}
.b5-b1{
    margin:0 0 50px;
}
.b5-a2{
    background:0 50% no-repeat;
    padding:10px 0 10px 75px;
    margin:0 107px 20px 0;
    display:inline-block;
    font-family:m5;
    font-size:29px;
}
.b5-a2:last-child{
    margin-right:0;
    color:#676768;
}
.b5-a2:nth-child(1){
    color:#475994;
}
.b5-a2:nth-child(2){
    color:#5d7db3;
}
.b5-w_1{
    margin:0 0 20px;
}
.b5-ife{
    display:block;
    margin:0 0 70px;
}
.b5-w_2{
    margin:0 0 35px;
}
.b5-inp-c{
    position:relative;
    border-top:1px solid #dbdbdb;
}
.b5-inp-c_1{
    margin:0 0 17px;
    border-bottom:1px solid #dbdbdb;
}
.b5-inp-w{
    z-index: 5;
    cursor: text;
    color:#555555;
    font-size:18px;
    font-family:m3;
    position:absolute;
    top:5px;
    left:15px;
    cursor:pointer;
}
.b5-inp-w-1{
    color:#ff0000;
    display:inline;
}
.b5-inp{
    width:100%;
    padding:7px 15px;
    font-size:18px;
    z-index: 6;
    position: relative;
    background: transparent;
}
.b5-ta{
    font-size:18px;
    color:#555555;
    padding:13px 15px;
    resize:none;
    height:240px;
    display:block;
    width:100%;
    font-family:m3;
}
.bn{
   color:#fff;
   background:#4b78b9;
   width:270px;
   padding:7px 10px;
   display:inline-block;
   border-radius:7px;
   text-align:center;
}

.b6-h{
    color:#4b78b9;
    font-size:29px;
    margin:35px 0 20px;
}
.b6-t{
    width:100%;
    margin:0 0 70px;
}
.b6-td{
    vertical-align:top;
}
.b6-td:first-child{
    width:125px;
    padding-right:10px;
}
.b6-td:last-child{
    padding-bottom:20px;
}
.b6-f-c{
    display:inline-block;
    text-align:center;
    width:97px;
}
.b6-w{
    color:#555555;
    font-size:20px;
    margin:4px 0 0;
    font-family:m6;
}
.b6-h1{
    color:#555555;
    font-size:20px;
    font-family:m6;
    margin:0px 0px 15px 0px;
}
.b6-w1{
    color:#555555;
    font-family:m3;
    line-height:150%;
}
.b6-f1{
    margin:7px 0px 0 0;
    display:inline-block;
    height:62px;
}
.b6-f1_1{
    width:70px;
}
.b6-f1_2{
    width:97px;
}
.b6-f1_3{
    width:75px;
}
.b6-f1_4{
    width:73px;
}

.b7{
    margin:0px 0px 65px;
}
.b7-t{
    width:100%;
}
.b7-td{
    
}
.b7-td:nth-child(1){
    width:432px;
}
.b7-b-c{
    position:relative;
    z-index:5;
}
.b7-b{
    display:inline-block;
    margin:0 68px 35px 0;
    text-align:center;
    width: 144px;
}
.b7-b.act .b7-w{
    color:#fff;
    background:#4b78b9;
}
.b7-b.act .b7-b1{
    display:block;
}
.b7-b1{
    position:absolute;
    display:none;
    left:0;
    width:100%;
    font-family:m3;
    background:#4b78b9;
    color:#fff;
    border-radius:10px;
    margin-top:15px;
    text-align:left;
}
.b7-t1{
    width:100%;
}
.b7-td1{
    white-space:pre-line;
    line-height:140%;
    padding:30px 23px;
    vertical-align:top;
}
.b7-b:nth-child(1) .b7-f{
    width:148px;
}
.b7-b:nth-child(2) .b7-f{
    width:127px;
}
.b7-b:nth-child(3) .b7-f{
    width:132px;
}
.b7-b:nth-child(4) .b7-f{
    width:129px;
}
.b7-f{
    display:inline-block;
    vertical-align:top;
    margin:0px 0px 10px;
}
.b7-w{
    cursor:pointer;
    padding:8px 10px;
    width:175px;
    text-align:center;
    border-radius:10px;
    display:inline-block;
    color:#555555;
    font-size:20px;
    font-family:m6;
}
.b7-h{
    color:#4b78b9;
    font-size:29px;
    margin:0px 0px 18px;
}
.b7-w1{
    color:#555555;
    font-family:m3;
}
.b8-t{
    width:100%;
}
.b8-h{
    color:#4b78b9;
    font-size:29px;
    margin:0px 0px 15px;
}
.b8-w{
    font-family:m3;
    line-height:150%;
    color:#555;
}
.b8-td{
    padding-bottom:70px;
}
.b8-td:first-child{
    padding:0px 40px 70px 0px;
    min-width:410px;
}
.b8-t1{
    color:#555;
}
.b8-td1{
    text-align:center;
    border:2px solid #dbdbdb;
    font-size:13px;
    font-family:m3;
    padding:15px 10px 8px 10px;
}
.b8-t1 tr:first-child .b8-td1{
    border-top:0;
}
.b8-t1 .b8-td1:first-child{
    border-left:0;
    padding-top:5px;
    padding-bottom:8px;
    text-align:right;
}
.b8-t1 .b8-td1:last-child{
    border-right:0;
}
.b8-t1 tr:last-child .b8-td1{
    border-bottom:0;
}
.b9-h{
    color:#4b78b9;
    font-size:29px;
    text-align:right;
    margin:0px 0px 25px;
}
.b9-t{
    width:100%;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
    margin:0px 0px 100px 0px;
}
.b9-td{
    color:#555;
    font-family:m3;
}
.b9-td:last-child{
    padding:10px 25px 10px 35px;
}
.b9-f{
    vertical-align:top;
}
.b10:after{
    content:'';
    display:block;
    clear:both;
}
.b10-b{
    float:left;
    width:25%;
    padding:0px 65px 85px 0;
}
.b10-b:last-child{
    padding-right:0;
}
.b10-b:nth-child(1){
    width:250px;
    text-align:justify;
}
.b10-b:nth-child(2){
    width:235px;
    text-align:justify;
}
.b10-b:nth-child(3){
    width:224px;
}
.b10-b:nth-child(4){
    width:185px;
    text-align:justify;
}
.b10-h{
    color:#555;
    font-size:20px;
    font-family:m6;
    margin:0px 0px 7px 0px;
}
.b10-f{
    vertical-align:middle;
}
.b10-h-1{
    vertical-align:middle;
}
.b10-w{
    font-size:12px;
    font-family:m3;
    line-height:160%;
}

.b11{
    margin-top:53px;
}
.b11-h{
    color:#4b78b9;
    font-size:29px;
    margin:0px 0px 30px;
}
.b11-b{
    margin-left:-145px;
    margin-bottom:30px;
}
.b11-b:after{
    content:'';
    display:block;
    clear:both;
}
.b11-b1{
    margin:0px 0px 20px 145px;
    float:left;
    width:205px;
}
.b11-f-c{
    text-align:center;
}
.b11-f{
    vertical-align:top;
}
.b11-h1{
    color:#555;
    font-family:m5;
    text-align:center;
    font-size:20px;
    margin:0px 0px 13px;
}
.b11-b2{
    display:inline-block;
    text-align:center;
}
.b11-b2_2{
    float:right;
}
.b11-w{
    width:80px;
    text-align:center;
    border-top:1px solid #dbdbdb;
    border-bottom:1px solid #dbdbdb;
    padding:5px 5px 5px 5px;
    color:#555;
    font-family:m6;
    font-size:18px;
}
.b11-w1-1{
    font-size: 9px;
    margin: 0 0 0 -4px;
}
.b11-w1{
    font-size:18px;
    font-family:m3;
}
.b11-b_1{
    margin-left:-130px;
}
.b11-b_1 .b11-b1{
    margin:0px 0px 20px 130px;
}
.b11-t{
    display:table;
    width:100%;
}
.b11-td{
    display:table-cell;
    vertical-align:middle;
}
.b11-td:first-child{
    width:1px;
    padding-right:17px;
}
.b11-b_1 .b11-b1{
    width:390px;
}

.b11-t1{
    width:100%;
    margin-bottom:45px;
}
.b11-td1{
    text-align:center;
}
.b11-td1:nth-child(1){
    width:88px;
    vertical-align:bottom;
}
.b11-td1:nth-child(2){
    background:url(../img/b11-2.svg)no-repeat 0 100%;
    background-size:contain;
}
.b11-td1:nth-child(3){
    width:93px;
    vertical-align:bottom;
}
.b11-f1_1{
    width:34px;
    display:inline-block;
    vertical-align:top;
    margin-bottom:10px;
}
.b11-f1_2{
    width:77px;
    display:inline-block;
    vertical-align:top;
    margin-bottom:10px;
}
.b11-w2{
    margin-bottom: -6px;
    color:#555;
    font-family:m6;
    font-size:22px;
}
.b11-w3{
    color:#555;
    font-size:17px;
    font-family:m5;
    line-height:190%;
    max-width:580px;
    width:100%;
    margin:0 auto;
}
.b11-t2-c{
    text-align:center;
    margin-bottom:65px;
}   
.b11-t2-c1{
    display:inline-block;
    text-align:left;
}
.b11-t2{
    color:#555;
}
.b11-td2:nth-child(1){
    font-size:26px;
    font-family:m5;
    padding-right:55px;
}
.b11-td2:nth-child(2){
    padding-right:40px;
}
.b11-b_1 .b11-t2-c1{
    display:block;
}
.b11-b_1 .b11-td2:nth-child(1) {
    padding: 0 55px 0 23px;
}
.b11-b_1 .b11-t2{
    width:100%;
}
.b11-b_1 .b11-td2:nth-child(2){
    padding-right:0;
}
.b11-f2{
    vertical-align:middle;
    margin-right:12px;
}
.b11-f2_1{
    width:54px;
}
.b11-f2_2{
    width:105px;
}
.b11-w4{
    font-size:16px;
    font-family:m5;
    display:inline-block;
    vertical-align:middle;    
}

.b12-h{
    font-size:29px;
    color:#4b78b9;
    margin-left:-3px;
}
.b12-w{
    color:#555;
    margin-bottom:24px;
}
.b12-t{
    width:100%;
}
.b12-tr{
    display:none;
}
.b12-td:last-child{
    max-width:1px;
    min-width:1px;
    width:1px;
}
.b12-t tr:first-child .b12-td{
    color:#555;
    font-size:18px;
    padding-bottom:20px;
}
.b12-t tr:nth-child(n+2) .b12-td{
    border-bottom:1px solid #cccccc;
    color:#4b78b9;
    font-size:18px;
    font-family:m5;
    padding:15px 10px 15px 0px;
}
.b12-t tr:last-child .b12-td{
    border-bottom:0;
}
.b12-f{
    display:inline-block;
    vertical-align:top;
    margin-top:-4px;
    width: 10px;
    height: 10px;
    background: url(../img/b3-4.png);
    cursor: pointer;
}
.b12-f:hover{
    background: url(../img/b3-4-1.png);
}

.b12-b{
    text-align:right;
    margin-top:45px;
    margin-bottom:30px;
}
.b12-w2{
    color:#4b78b9;
    font-size:20px;
    font-family:m5;
    margin-bottom:5px;
}
.b12-bn{
    display:inline-block;
    margin-top:25px;
    background:#4b78b9;
    color:#fff;
    max-width:345px;
    margin-bottom:35px;
    text-align:center;
    border-radius:7px;
    padding:13px 10px 13px 10px;
    width:100%;
}

.b13{
}
.b13-h{
    color:#4b78b9;
    font-size:29px;
    margin-bottom:3px;
}
.b13-h_1{
    margin-top:50px;
}
.b13-w1{
    color:#555;
    font-family:m3;
    margin-bottom:25px;
}
.b7-b-c .b7-b{
    vertical-align:top;
    width: 176px;
}
.b7-b-c .b7-b:last-child{
    margin-right:0px;
}
.b7-b-c .b7-b .b7-f{
    width:auto;
}
.b7-b-c .b7-w{
    color:#4b78b9;
    font-size:20px;
    font-family:m5;
}
.b7-f-c{
    height:180px;
}
.b13-f{
    width:36px;
    margin-right:9px;
    vertical-align:middle;
}
.b13-h1{
    margin-bottom:10px;
    color:#555;
    font-size:20px;
    font-family:m6;
}
.b13-w2{
    font-size:15px;
    font-family:m3;
    line-height:160%;
    margin-bottom:33px;
}
.b13-b{
    display:inline-block;
    vertical-align:top;
    padding-bottom:30px;
}
.b13-b:nth-child(3n+1){
    width: 330px;
    padding-right: 60px;
}
.b13-b:nth-child(3n+2){
    width:320px;
    padding-right:60px;
}
.b13-b:nth-child(3n+3){
    width:257px;
}
.b13-b:nth-child(1) .b13-f1{
    width:82px;
}
.b13-b:nth-child(2) .b13-f1{
    width:55px;
}
.b13-b:nth-child(3) .b13-f1{
    width:67px;
}
.b13-b:nth-child(4) .b13-f1{
    width:50px;
}
.b13-b:nth-child(5) .b13-f1{
    width:47px;
}
.b13-b:nth-child(6) .b13-f1{
    width:76px;
}
.b13-h2{
    color:#555555;
    font-size:20px;
    font-family:m6;
    margin-bottom:10px;
}
.b13-f1{
    vertical-align:middle;
}
.b13-h2-1{
    width:160px;
    display:inline-block;
    vertical-align:middle;
    margin-left:15px;
}
.b13-w2{
    color:#555;
    line-height:160%;
    font-family:m3;
    font-size:15px;
}
.b13-{
    
}
.b13-{
    
}
.b13-{
    
}
.b13-{
    
}
.b13-{
    
}
.b13-{
    
}
.b13-{
    
}
.b13-{
    
}
.b13-{
    
}
.b13-{
    
}


@media screen and (max-width:940px){
    .b3-w5{
        font-size:20px;
    }
    .b8-td:first-child{
        width:auto;
    }
    .b10:after{
        content:'';
        display:block;
        clear:both;
    }
    .b10 .b10-b{
        width:50%;
        padding:0 10px 30px;
        text-align:center;
    }
    .b10{
        padding-bottom:30px;
    }
    .b10-w {
        font-size: 10px;
    }
    .b10-h{
        font-size:15px;
    }    
    .b8-t .b8-td{
        padding-bottom:30px;
        padding-right:0;
    }
    .b8-td{
        display:block;
    }
    .b7-b{
        margin-right:15px;
    }
    .b7-td:nth-child(1) {
        width: 326px;
    }
    .c3{
        padding:0px 13px 0px 13px;
        width:100%;
    }
    .c2{
        width:100%;
    }
    .c1{
        width:100%;
    }
    .b3-bn {
        top: 8px;
        right: 4px;
    }
    .b3-h2,
    .b3-w3{
        margin-left:15px;
    }
    .b3-td2{
        display:block;
        width:100% !important;
    }
    .b3-td2 .b3-t:last-child{
        margin:0 auto;
    }
    .b3-t_2 .b3-td:last-child{
        border-right:0 !important;
    }
    .b3-b2{
        position:static;
    }
    .b3-td2:last-child{
        padding-bottom:0;
    }
    .b4-bn,
    .b4-w{
        margin:20px 0 0;
    }
    .b4-w{
        font-size: 20px;
        width: 280px;
    }
    .b4{
        margin-right:0;
        margin-left:0;
        padding-right:15px;
        padding-left:15px;
    }
    .b3-b1 {
        padding: 8px 15px 10px;
    }
    .b3-t3{
        margin:20px 15px;
    }
    .b4-bn{
        width:280px;
    }
    .b3-tr{
        display:none;
    }
    .b3-w2{
        padding:10px 10px;
    }
    .b3-h5{
        display:block;
    }
    .b3-w2{
        position:static;
    }
    .b3-w2-1 {
        transform: rotateZ(0deg);
        position:static;
    }
    .b3-th{
        display:none;
    }
    .b3-td{
        height:auto !important;
        text-align:center;
        display:block !important;
        width:100% !important;
        padding:0 10px !important;
        border:0 !important;
    }
    .b3-td_3 .b3-t1 {
         margin:10px auto; 
         width:280px;
    }
    .b3-t1{
        width:280px;
        text-align:left;
        margin:10px auto;
    }
    .b2-h{
        font-size:18px;
    }
    .b2-ul{
        font-size:11px;
    }
    .b2-b{
        background:#fff;
        box-shadow:0 0 10px rgba(0,0,0,0.5);
        padding:20px 30px 20px;
        margin:0 40px 0 0;
    }
    
    .c{
        width:100%;
    }
}
@media screen and (max-width:767px){
    .b7-td1{
        display:block;
        padding:15px 10px;
        font-size:12px;
    }
    .b7-w{
        width:auto;
    }
    .b9-td{
        display:block;
        text-align:center;
    }
    .b9-f{
        max-width:100%;
    }
    .b7-td:nth-child(1){
        width:auto;
    }
    .b7-td{
        display:block;
    }
    .b5-b{
        width:auto;
        padding-bottom:20px;
        /*text-align:center !important;*/
    }
    .b5-h{
        margin-bottom:10px;
    }
    .b5-a1-c{
        margin-top:10px;
    }
    
    .menu-a {
        padding: 10px 15px;
        font-size: 12px;
    }
}

@media screen and (max-width:600px){
    .b3-b2{
        padding-right:0;
    }
    .hr-c{
        position:static;
    }
    .b13-b:nth-child(n){
        width:auto;
        padding-right:15px;
        margin-bottom:0px;
        padding-bottom:0px;
        display:block;
    }
    .b13-h2-1{
        width:auto;
    }
    .b13-w{
        font-size:12px;
    }
    .b7-f-c{
        height: 82px;
    }
    .b7-b-c .b7-b {
        vertical-align: top;
        width: 129px;
    }
    
    .b12-t tr:first-child .b12-td{
        font-size:12px;
    }
    .b12-t tr:nth-child(n+2) .b12-td{
        font-size:12px;
    }
    .b11-b_1 .b11-b1{
        width:100%;
        margin-left:0px;
    }
    .b11-b.b11-b_1{
        margin-left:0px;
    }
    .b11-t2 .b11-td2{
        display:block;
        padding:0px 10px 10px 10px;
        text-align:center;
    }
    .b11-w3{
        font-size:10px;
    }
    .b11-w2{
        font-size:16px;
    }
    .b11-td1:nth-child(1) {
        width: 56px;
    }
    .b11-td1:nth-child(3) {
        width: 55px;    
    }    
    .b11-f1_2 {
        width: 55px;
    }    
    .b11-b{
        margin-left:-20px;
    }
    .b11-b1{
        margin-left:20px;
    }
    .b8-td1 {
        font-size: 9px;
        padding: 15px 3px 8px 3px;
    }
    .b7-b:nth-child(n) .b7-f{
        width:85px;
    }
    .b7-b{
        width:129px;
    }
    .b3-f1{
        width:40px;
    }
    .b3-td3 {
        padding: 0 6px 0 0;
    }    
    .b3-h4 {
        font-size: 10px;
    }
    .b3-w5 {
        font-size: 20px;
    }
    .b3-w6 {
        font-size: 15px;
    }
    .b3-w7 {
        font-size: 12px;
    }
}
@media screen and (max-width:479px){
    .b3-td3 {
        display:block;
    }    
    .b3-td3:first-child{
        height:43px;
    }
    .b3-td3:last-child {
        width:auto;
    }
    .box-b{
        padding:20px 0;
    }
    .box-b1{
        padding:15px 0 0;
    }
    .box-h{
        margin-bottom:5px;
        font-size:14px;
    }
    
    .b11-b_1 .b11-b2{
        display:block;
        float:none;
    }
    .b11-b1{
        margin-left:0px;
        width:100%;
    }
    .b11-b{
        margin-left:0px;
    }
    .b5-a2{
        margin-right:20px;
    }
    .b2-b{
        width:auto;
        float:none;
        margin:20px;
    }
}    
