/* ===================== =G R I D E ===================== */

.nr{white-space:nowrap;}
.g-t{display:table;width:100%;}
.g-r{display:table-row;}
.g-t [class*=g-c]{display:table-cell;}
.g-t [class*=g-c]{display:table-cell;}
.dn{display:none;}.ddn{display:none !important;}
.db{display:block;}.ddb{display:block !important;}
.ds{display:inline;}.dds{display:inline !important;}
.du{display:inline-block;}.ddu{display:inline-block !important;}
.dt{display:table;}.ddt{display:table !important;}
.dr{display:table-row;}.ddr{display:table-row !important;}
.dc{display:table-cell;}.ddc{display:table-cell !important;}
.g-l1,.g-m1,.g-t1,.g-p1,.g-s1,.g-l2,.g-m2,.g-t2,.g-p2,.g-s2,.g-l3,.g-m3,.g-t3,.g-p3,.g-s3,.g-l4,.g-m4,.g-t4,.g-p4,.g-s4,.g-l5,.g-m5,.g-t5,.g-p5,.g-s5,.g-l6,.g-m6,.g-t6,.g-p6,.g-s6,.g-l7,.g-m7,.g-t7,.g-p7,.g-s7,.g-l8,.g-m8,.g-t8,.g-p8,.g-s8,.g-l9,.g-m9,.g-t9,.g-p9,.g-s9,.g-l10,.g-m10,.g-t10,.g-p10,.g-s10,.g-l11,.g-m11,.g-t11,.g-p11,.g-s11,.g-l12,.g-m12,.g-t12,.g-p12,.g-s12{display:table-cell}
@media (max-width: 5000px){
	.ldn1,.ldn10,.ldn10 [class*=g-c]{display:none;}.ldn3,.ldn30,.ldn30 [class*=g-c]{display:none !important}
	.ldb1,.ldb10,.ldb10 [class*=g-c]{display:block;}.ldb3,.ldb30,.ldb30 [class*=g-c]{display:block !important}
	.lds1,.lds10,.lds10 [class*=g-c]{display:inline;}.lds3,.lds30,.lds30 [class*=g-c]{display:inline !important}
	.ldu1,.ldu10,.ldu10 [class*=g-c]{display:inline-block;}.ldu3,.ldu30,.ldu30 [class*=g-c]{display:inline-block !important}
	.ldt1,.ldt10,.ldt10 [class*=g-c]{display:table;}.ldt3,.ldt30,.ldt30 [class*=g-c]{display:table !important}
	.ldr1,.ldr10,.ldr10 [class*=g-c]{display:table-row;}.ldr3,.ldr30,.ldr30 [class*=g-c]{display:table-row !important}
	.ldc1,.ldc10,.ldc10 [class*=g-c]{display:table-cell;}.ldc3,.ldc30,.ldc30 [class*=g-c]{display:table-cell !important}
	.ll1{text-align:left;}.ll3{text-align:left !important;}
	.lc1{text-align:center;}
	.lr1{text-align:right;}
	.lt1,.lt10,.lt10 [class*=g-c]{vertical-align:top;}
	.lm1,.lm10,.lm10 [class*=g-c]{vertical-align:middle;}.lm3,.lm30,.lm30 [class*=g-c]{vertical-align:middle !important;}
	.lb1,.lb10,.lb10 [class*=g-c]{vertical-align:bottom;}
	.lnr1{white-space:nowrap;}
	.lfl1,.lfl10>div,.lfl10>div>div,.lfl10>div>a{float:left;}
	.lfr1{float:right;}
	.lw1{width:2000px;}.lww1,.lww10>div,.lww10>div>div,.lww10>a{width:100%;}.lwa1{width:auto;}.lws1{width:0;}
	
	.lw14 > *{width:33.33333%;}.lw16 > *{width:50%;}.lw18 > *{width:66.66666%;}.lw112 > *{width:100%;}
	
	.ls3{height:160px !important;}
	.g-l11{width:8.33333333%}.g-l12{width:16.66666666%}.g-l13{width:25%}.g-l14{width:33.33333332%}.g-l15{width:41.66666665%}.g-l16{width:50%}.g-l17{width:58.33333331%}.g-l18{width:66.66666664%}.g-l19{width:75%}.g-l110{width:83.3333333%}.g-l111{width:91.66666663000001%}.g-l112{width:100%}
	
	.g-lh11{height:8.33333333%}.g-lh12{height:16.66666666%}.g-lh13{height:25%}.g-lh14{height:33.33333332%}.g-lh15{height:41.66666665%}.g-lh16{height:50%}.g-lh17{height:58.33333331%}.g-lh18{height:66.65666664%}.g-lh19{height:75%}.g-lh110{height:83.3333333%}.g-lh111{height:91.66666663000001%}.g-lh112{height:100%}
	
	.lpt1z{padding-top:0px !important;}.lpt3z{padding-top:0px !important;}
	.lpr1z{padding-right:0px !important;}.lpr3z{padding-right:0px !important;}
	.lpb1z{padding-bottom:0px !important;}.lpb3z{padding-bottom:0px !important;}
	.lpl1z{padding-left:0px !important;}.lpl3z{padding-left:0px !important;}
	.lmt1z{margin-top:0px !important;}.lmt3z{margin-top:0px !important;}
	.lmr1z{margin-right:0px !important;}.lmr3z{margin-right:0px !important;}
	.lmb1z{margin-bottom:0px !important;}.lmb3z{margin-bottom:0px !important;}
	.lml1z{margin-left:0px !important;}.lml3z{margin-left:0px !important;}
}
@media (max-width: 1220px){
	.mdn1,.mdn10,.mdn10 [class*=g-c]{display:none;}.mdn3,.mdn30,.mdn30 [class*=g-c]{display:none !important}
	.mdb1,.mdb10,.mdb10 [class*=g-c]{display:block;}.mdb3,.mdb30,.mdb30 [class*=g-c]{display:block !important}
	.mds1,.mds10,.mds10 [class*=g-c]{display:inline;}.mds3,.mds30,.mds30 [class*=g-c]{display:inline !important}
	.mdu1,.mdu10,.mdu10 [class*=g-c]{display:inline-block;}.mdu3,.mdu30,.mdu30 [class*=g-c]{display:inline-block !important}
	.mdt1,.mdt10,.mdt10 [class*=g-c]{display:table;}.mdt3,.mdt30,.mdt30 [class*=g-c]{display:table !important}
	.mdr1,.mdr10,.mdr10 [class*=g-c]{display:table-row;}.mdr3,.mdr30,.mdr30 [class*=g-c]{display:table-row !important}
	.mdc1,.mdc10,.mdc10 [class*=g-c]{display:table-cell;}.mdc3,.mdc30,.mdc30 [class*=g-c]{display:table-cell !important}
	.ml1{text-align:left;}
	.mc1{text-align:center;}
	.mr1{text-align:right;}
	.mt1,.mt10 [class*=g-c]{vertical-align:top;}
	.mm1,.mm10 [class*=g-c]{vertical-align:middle;}
	.mb1,.mb10 [class*=g-c]{vertical-align:bottom;}
	.mnr1{white-space:nowrap;}
	.mfl1,.mfl10>div,.mfl10>div>div{float:left;}
	.mfr1{float:right;}
	.mw1{width:2000px;}.mww1,.mww10>div,.mww10>div>div{width:100%;}.mwa1{width:auto;}.mws1{width:0;}
	.mw14 > *{width:33.33333%;}.mw16 > *{width:50%;}.mw18 > *{width:66.66666%;}.mw112 > *{width:100%;}
	
	
	.ms3{height:160px !important;}.ms3>a{height:100% !important;}

	.g-m11{width:8.33333333%}.g-m12{width:16.66666666%}.g-m13{width:25%}.g-m14{width:33.33333332%}.g-m15{width:41.66666665%}.g-m16{width:50%}.g-m17{width:58.33333331%}.g-m18{width:66.66666664%}.g-m19{width:75%}.g-m110{width:83.3333333%}.g-m111{width:91.66666663000001%}.g-m112{width:100%}
	.g-m31{width:8.33333333% !important}.g-m32{width:16.66666666% !important}.g-m33{width:25% !important}.g-m34{width:33.33333332% !important}.g-m35{width:41.66666665% !important}.g-m36{width:50% !important}.g-m37{width:58.33333331% !important}.g-m38{width:66.66666664% !important}.g-m39{width:75% !important}.g-m310{width:83.3333333% !important}.g-m311{width:91.66666663000001% !important}.g-m332{width:100% !important}
	
	.g-mh11{height:8.33333333%}.g-mh12{height:16.66666666%}.g-mh13{height:25%}.g-mh14{height:33.33333332%}.g-mh15{height:41.66666665%}.g-mh16{height:50%}.g-mh17{height:58.33333331%}.g-mh18{height:66.66666664%}.g-mh19{height:75%}.g-mh110{height:83.3333333%}.g-mh111{height:91.66666663000001%}.g-mh112{height:100%}
	
	.mpt1z{padding-top:0px !important;}.mpt3z{padding-top:0px !important;}
	.mpr1z{padding-right:0px !important;}.mpr3z{padding-right:0px !important;}
	.mpb1z{padding-bottom:0px !important;}.mpb3z{padding-bottom:0px !important;}
	.mpl1z{padding-left:0px !important;}.mpl3z{padding-left:0px !important;}
	.mmt1z{margin-top:0px !important;}.mmt3z{margin-top:0px !important;}
	.mmr1z{margin-right:0px !important;}.mmr3z{margin-right:0px !important;}
	.mmb1z{margin-bottom:0px !important;}.mmb3z{margin-bottom:0px !important;}
	.mml1z{margin-left:0px !important;}.mml3z{margin-left:0px !important;}
}
@media (max-width: 991px){
	.tdn1,.tdn10,.tdn10 [class*=g-c]{display:none;}.tdn3,.tdn30,.tdn30 [class*=g-c]{display:none !important}
	.tdb1,.tdb10,.tdb10 [class*=g-c]{display:block;}.tdb3,.tdb30,.tdb30 [class*=g-c]{display:block !important}
	.tds1,.tds10,.tds10 [class*=g-c]{display:inline;}.tds3,.tds30,.tds30 [class*=g-c]{display:inline !important}
	.tdu1,.tdu10,.tdu10 [class*=g-c]{display:inline-block;}.tdu3,.tdu30,.tdu30 [class*=g-c]{display:inline-block !important}
	.tdt1,.tdt10,.tdt10 [class*=g-c]{display:table;}.tdt3,.tdt30,.tdt30 [class*=g-c]{display:table !important}
	.tdr1,.tdr10,.tdr10 [class*=g-c]{display:table-row;}.tdr3,.tdr30,.tdr30 [class*=g-c]{display:table-row !important}
	.tdc1,.tdc10,.tdc10 [class*=g-c]{display:table-cell;}.tdc3,.tdc30,.tdc30 [class*=g-c]{display:table-cell !important}
	.tl1{text-align:left;}.tl3{text-align:left !important;}
	.tc1{text-align:center;}
	.tr1{text-align:right;}
	.tt1,.tt10 [class*=g-c]{vertical-align:top;}
	.tm1,.tm10 [class*=g-c]{vertical-align:middle;}
	.tb1,.tb10 [class*=g-c]{vertical-align:bottom;}
	.tnr1{white-space:nowrap;}
	.tfl1{float:left;}.tfr1{float:right;}
	.tw1{width:2000px;}.tww1{width:100%;}.twa1{width:auto;}.tws1{width:0;}
	.tw14 > *{width:33.33333%;}.tw16 > *{width:50%;}.tw18 > *{width:66.66666%;}.tw112 > *{width:100%;}
	
	.ts3{height:160px !important;}
	
	.g-t11{width:8.33333333%}.g-t12{width:16.66666666%}.g-t13{width:25%}.g-t14{width:33.33333332%}.g-t15{width:41.66666665%}.g-t16{width:50%}.g-t17{width:58.33333331%}.g-t18{width:66.66666664%}.g-t19{width:75%}.g-t110{width:83.3333333%}.g-t111{width:91.66666663000001%}.g-t112{width:100%}
	.g-th11{height:8.33333333%}.g-th12{height:16.66666666%}.g-th13{height:25%}.g-th14{height:33.33333332%}.g-th15{height:41.66666665%}.g-th16{height:50%}.g-th17{height:58.33333331%}.g-th18{height:66.66666664%}.g-th19{height:75%}.g-th110{height:83.3333333%}.g-th111{height:91.66666663000001%}.g-th112{height:100%}
	
	.tpt1z{padding-top:0px !important;}.tpt3z{padding-top:0px !important;}
	.tpr1z{padding-right:0px !important;}.tpr3z{padding-right:0px !important;}
	.tpb1z{padding-bottom:0px !important;}.tpb3z{padding-bottom:0px !important;}
	.tpl1z{padding-left:0px !important;}.tpl3z{padding-left:0px !important;}
	.tmt1z{margin-top:0px !important;}.tmt3z{margin-top:0px !important;}
	.tmr1z{margin-right:0px !important;}.tmr3z{margin-right:0px !important;}
	.tmb1z{margin-bottom:0px !important;}.tmb3z{margin-bottom:0px !important;}
	.tml1z{margin-left:0px !important;}.tml3z{margin-left:0px !important;}
}
@media (max-width: 767px){
	.pdn1,.pdn10,.pdn10 [class*=g-c]{display:none;}.pdn3,.pdn30,.pdn30 [class*=g-c]{display:none !important}
	.pdb1,.pdb10,.pdb10 [class*=g-c]{display:block;}.pdb3,.pdb30,.pdb30 [class*=g-c]{display:block !important}
	.pds1,.pds10,.pds10 [class*=g-c]{display:inline;}.pds3,.pds30,.pds30 [class*=g-c]{display:inline !important}
	.pdu1,.pdu10,.pdu10 [class*=g-c]{display:inline-block;}.pdu3,.pdu30,.pdu30 [class*=g-c]{display:inline-block !important}
	.pdt1,.pdt10,.pdt10 [class*=g-c]{display:table;}.pdt3,.pdt30,.pdt30 [class*=g-c]{display:table !important}
	.pdr1,.pdr10,.pdr10 [class*=g-c]{display:table-row;}.pdr3,.pdr30,.pdr30 [class*=g-c]{display:table-row !important}
	.pdc1,.pdc10,.pdc10 [class*=g-c]{display:table-cell;}.pdc3,.pdc30,.pdc30 [class*=g-c]{display:table-cell !important}
	.pl1{text-align:left;}
	.pc1{text-align:center;}
	.pr1{text-align:right;}
	.pt1,.pt10 [class*=g-c]{vertical-align:top;}
	.pm1,.pm10 [class*=g-c]{vertical-align:middle;}
	.pb1,.pb10 [class*=g-c]{vertical-align:bottom;}
	.pnr1{white-space:nowrap;}
	.pfl1{float:left;}.pfr1{float:right;}
	.pw1{width:2000px;}.pww1{width:100%;}.pwa1{width:auto;}.pws1{width:0;}
	.pw14 > *{width:33.33333%;}.pw16 > *{width:50%;}.pw18 > *{width:66.66666%;}.pw112 > *{width:100%;}
	
	.ps3{height:160px !important;}.ps3>a{height:100% !important;}
	
	.g-p11{width:8.33333333%}.g-p12{width:16.66666666%}.g-p13{width:25%}.g-p14{width:33.33333332%}.g-p15{width:41.66666665%}.g-p16{width:50%}.g-p17{width:58.33333331%}.g-p18{width:66.66666664%}.g-p19{width:75%}.g-p110{width:83.3333333%}.g-p111{width:91.66666663000001%}.g-p112{width:100%}
	
	.g-p31{width:8.33333333% !important}.g-p32{width:16.66666666% !important}.g-p33{width:25% !important}.g-p34{width:33.33333332% !important}.g-p35{width:41.66666665% !important}.g-p36{width:50% !important}.g-p37{width:58.33333331% !important}.g-p38{width:66.66666664% !important}.g-p39{width:75% !important}.g-p310{width:83.3333333% !important}.g-p311{width:91.66666663000001% !important}.g-p312{width:100% !important}
	
	.g-ph11{height:8.33333333%}.g-ph12{height:16.66666666%}.g-ph13{height:25%}.g-ph14{height:33.33333332%}.g-ph15{height:41.66666665%}.g-ph16{height:50%}.g-ph17{height:58.33333331%}.g-ph18{height:66.66666664%}.g-ph19{height:75%}.g-ph110{height:83.3333333%}.g-ph111{height:91.66666663000001%}.g-ph112{height:100%}
	
	.ppt1z{padding-top:0px !important;}.ppt3z{padding-top:0px !important;}
	.ppr1z{padding-right:0px !important;}.ppr3z{padding-right:0px !important;}
	.ppb1z{padding-bottom:0px !important;}.ppb3z{padding-bottom:0px !important;}
	.ppl1z{padding-left:0px !important;}.ppl3z{padding-left:0px !important;}
	.pmt1z{margin-top:0px !important;}.pmt3z{margin-top:0px !important;}
	.pmr1z{margin-right:0px !important;}.pmr3z{margin-right:0px !important;}
	.pmb1z{margin-bottom:0px !important;}.pmb3z{margin-bottom:0px !important;}
	.pml1z{margin-left:0px !important;}.pml3z{margin-left:0px !important;}
}
@media (max-width: 479px){
	.sdn1,.sdn10,.sdn10 [class*=g-c]{display:none;}.sdn3,.sdn30,.sdn30 [class*=g-c]{display:none !important}
	.sdb1,.sdb10,.sdb10 [class*=g-c]{display:block;}.sdb3,.sdb30,.sdb30 [class*=g-c]{display:block !important}
	.sds1,.sds10,.sds10 [class*=g-c]{display:inline;}.sds3,.sds30,.sds30 [class*=g-c]{display:inline !important}
	.sdu1,.sdu10,.sdu10 [class*=g-c]{display:inline-block;}.sdu3,.sdu30,.sdu30 [class*=g-c]{display:inline-block !important}
	.sdt1,.sdt10,.sdt10 [class*=g-c]{display:table;}.sdt3,.sdt30,.sdt30 [class*=g-c]{display:table !important}
	.sdr1,.sdr10,.sdr10 [class*=g-c]{display:table-row;}.sdr3,.sdr30,.sdr30 [class*=g-c]{display:table-row !important}
	.sdc1,.sdc10,.sdc10 [class*=g-c]{display:table-cell;}.sdc3,.sdc30,.sdc30 [class*=g-c]{display:table-cell !important}
	.sl1{text-align:left;}
	.sc1{text-align:center;}
	.sr1{text-align:right;}
	.st1,.st10 [class*=g-c]{vertical-align:top;}
	.sm1,.sm10 [class*=g-c]{vertical-align:middle;}
	.sb1,.sb10 [class*=g-c]{vertical-align:bottom;}
	.snr1{white-space:nowrap;}
	.sfl1{float:left;}.sfr1{float:right;}
	.sw1{width:2000px;}.sww1{width:100%;}.swa1{width:auto;}.sws1{width:0;}
	.sw14 > *{width:33.33333%;}.sw16 > *{width:50%;}.sw18 > *{width:66.66666%;}.sw112 > *{width:100%;}
	
	.ss3{height:100px !important;}
	.g-s11{width:8.33333333%}.g-s12{width:16.66666666%}.g-s13{width:25%}.g-s14{width:33.33333332%}.g-s15{width:41.66666665%}.g-s16{width:50%}.g-s17{width:58.33333331%}.g-s18{width:66.66666664%}.g-s19{width:75%}.g-s110{width:83.3333333%}.g-s111{width:91.66666663000001%}.g-s112{width:100%}
	.g-sh11{height:8.33333333%}.g-sh12{height:16.66666666%}.g-sh13{height:25%}.g-sh14{height:33.33333332%}.g-sh15{height:41.66666665%}.g-sh16{height:50%}.g-sh17{height:58.33333331%}.g-sh18{height:66.66666664%}.g-sh19{height:75%}.g-sh110{height:83.3333333%}.g-sh111{height:91.66666663000001%}.g-sh112{height:100%}
	
	.spt1z{padding-top:0px !important;}.spt3z{padding-top:0px !important;}
	.spr1z{padding-right:0px !important;}.spr3z{padding-right:0px !important;}
	.spb1z{padding-bottom:0px !important;}.spb3z{padding-bottom:0px !important;}
	.spl1z{padding-left:0px !important;}.spl3z{padding-left:0px !important;}
	.smt1z{margin-top:0px !important;}.smt3z{margin-top:0px !important;}
	.smr1z{margin-right:0px !important;}.smr3z{margin-right:0px !important;}
	.smb1z{margin-bottom:0px !important;}.smb3z{margin-bottom:0px !important;}
	.sml1z{margin-left:0px !important;}.sml3z{margin-left:0px !important;}
}

@media (min-width: 992px){
	.mdn2,.mdn20,.mdn20 [class*=g-c]{display:none;}.mdn4,.mdn40,.mdn40 [class*=g-c]{display:none !important}
	.mdb2,.mdb20,.mdb20 [class*=g-c]{display:block;}.mdb4,.mdb40,.mdb40 [class*=g-c]{display:block !important}
	.mds2,.mds20,.mds20 [class*=g-c]{display:inline;}.mds4,.mds40,.mds40 [class*=g-c]{display:inline !important}
	.mdu2,.mdu20,.mdu20 [class*=g-c]{display:inline-block;}.mdu4,.mdu40,.mdu40 [class*=g-c]{display:inline-block !important}
	.mdt2,.mdt20,.mdt20 [class*=g-c]{display:table;}.mdt4,.mdt40,.mdt40 [class*=g-c]{display:table !important}
	.mdr2,.mdr20,.mdr20 [class*=g-c]{display:table-row;}.mdr4,.mdr40,.mdr40 [class*=g-c]{display:table-row !important}
	.mdc2,.mdc20,.mdc20 [class*=g-c]{display:table-cell;}.mdc4,.mdc40,.mdc40 [class*=g-c]{display:table-cell !important}
	.ml2{text-align:left;}
	.mc2{text-align:center;}
	.mr2{text-align:right;}
	.mt2,.mt20 [class*=g-c]{vertical-align:top;}
	.mm2,.mm20 [class*=g-c]{vertical-align:middle;}
	.mb2,.mb20 [class*=g-c]{vertical-align:bottom;}
	.mnr2{white-space:nowrap;}
	.mfl2{float:left;}.mfr2{float:right;}
	.mw2{width:2000px;}.mww2{width:100%;}.mwa2{width:auto;}.mws2{width:0;}
	
	.mpt2z{padding-top:0px !important;}.mpt4z{padding-top:0px !important;}
	.mpr2z{padding-right:0px !important;}.mpr4z{padding-right:0px !important;}
	.mpb2z{padding-bottom:0px !important;}.mpb4z{padding-bottom:0px !important;}
	.mpl2z{padding-left:0px !important;}.mpl4z{padding-left:0px !important;}
	.mmt2z{margin-top:0px !important;}.mmt4z{margin-top:0px !important;}
	.mmr2z{margin-right:0px !important;}.mmr4z{margin-right:0px !important;}
	.mmb2z{margin-bottom:0px !important;}.mmb4z{margin-bottom:0px !important;}
	.mml2z{margin-left:0px !important;}.mml4z{margin-left:0px !important;}
}
@media (min-width: 768px){
	.tdn2,.tdn20,.tdn20 [class*=g-c]{display:none;}.tdn4,.tdn40,.tdn40 [class*=g-c]{display:none !important}
	.tdb2,.tdb20,.tdb20 [class*=g-c]{display:block;}.tdb4,.tdb40,.tdb40 [class*=g-c]{display:block !important}
	.tds2,.tds20,.tds20 [class*=g-c]{display:inline;}.tds4,.tds40,.tds40 [class*=g-c]{display:inline !important}
	.tdu2,.tdu20,.tdu20 [class*=g-c]{display:inline-block;}.tdu4,.tdu40,.tdu40 [class*=g-c]{display:inline-block !important}
	.tdt2,.tdt20,.tdt20 [class*=g-c]{display:table;}.tdt4,.tdt40,.tdt40 [class*=g-c]{display:table !important}
	.tdr2,.tdr20,.tdr20 [class*=g-c]{display:table-row;}.tdr4,.tdr40,.tdr40 [class*=g-c]{display:table-row !important}
	.tdc2,.tdc20,.tdc20 [class*=g-c]{display:table-cell;}.tdc4,.tdc40,.tdc40 [class*=g-c]{display:table-cell !important}
	.tl2{text-align:left;}
	.tc2{text-align:center;}
	.tr2{text-align:right;}
	.tr2-t{text-align:right;}
	.tt2,.tt20 [class*=g-c]{vertical-align:top;}
	.tm2,.tm20 [class*=g-c]{vertical-align:middle;}
	.tb2,.tb20 [class*=g-c]{vertical-align:bottom;}
	.tnr2{white-space:nowrap;}
	.tfl2{float:left;}.tfr2{float:right;}
	.tw2{width:2000px;}.tww2{width:100%;}.twa2{width:auto;}.tws2{width:0;}
	
	.tpt2z{padding-top:0px !important;}.tpt4z{padding-top:0px !important;}
	.tpr2z{padding-right:0px !important;}.tpr4z{padding-right:0px !important;}
	.tpb2z{padding-bottom:0px !important;}.tpb4z{padding-bottom:0px !important;}
	.tpl2z{padding-left:0px !important;}.tpl4z{padding-left:0px !important;}
	.tmt2z{margin-top:0px !important;}.tmt4z{margin-top:0px !important;}
	.tmr2z{margin-right:0px !important;}.tmr4z{margin-right:0px !important;}
	.tmb2z{margin-bottom:0px !important;}.tmb4z{margin-bottom:0px !important;}
	.tml2z{margin-left:0px !important;}.tml4z{margin-left:0px !important;}
}
@media (min-width: 480px){
	.pdn2,.pdn20,.pdn20 [class*=g-c]{display:none;}.pdn4,.pdn40,.pdn40 [class*=g-c]{display:none !important}
	.pdb2,.pdb20,.pdb20 [class*=g-c]{display:block;}.pdb4,.pdb40,.pdb40 [class*=g-c]{display:block !important}
	.pds2,.pds20,.pds20 [class*=g-c]{display:inline;}.pds4,.pds40,.pds40 [class*=g-c]{display:inline !important}
	.pdu2,.pdu20,.pdu20 [class*=g-c]{display:inline-block;}.pdu4,.pdu40,.pdu40 [class*=g-c]{display:inline-block !important}
	.pdt2,.pdt20,.pdt20 [class*=g-c]{display:table;}.pdt4,.pdt40,.pdt40 [class*=g-c]{display:table !important}
	.pdr2,.pdr20,.pdr20 [class*=g-c]{display:table-row;}.pdr4,.pdr40,.pdr40 [class*=g-c]{display:table-row !important}
	.pdc2,.pdc20,.pdc20 [class*=g-c]{display:table-cell;}.pdc4,.pdc40,.pdc40 [class*=g-c]{display:table-cell !important}
	.pl2{text-align:left;}
	.pc2{text-align:center;}
	.pr2{text-align:right;}
	.pt2,.pt20 [class*=g-c]{vertical-align:top;}
	.pm2,.pm20 [class*=g-c]{vertical-align:middle;}
	.pb2,.pb20 [class*=g-c]{vertical-align:bottom;}
	.pnr2{white-space:nowrap;}
	.pfl2{float:left;}.pfr2{float:right;}
	.pw2{width:2000px;}.pww2{width:100%;}.pwa2{width:auto;}.pws2{width:0;}
	
	.ppt2z{padding-top:0px !important;}.ppt4z{padding-top:0px !important;}
	.ppr2z{padding-right:0px !important;}.ppr4z{padding-right:0px !important;}
	.ppb2z{padding-bottom:0px !important;}.ppb4z{padding-bottom:0px !important;}
	.ppl2z{padding-left:0px !important;}.ppl4z{padding-left:0px !important;}
	.pmt2z{margin-top:0px !important;}.pmt4z{margin-top:0px !important;}
	.pmr2z{margin-right:0px !important;}.pmr4z{margin-right:0px !important;}
	.pmb2z{margin-bottom:0px !important;}.pmb4z{margin-bottom:0px !important;}
	.pml2z{margin-left:0px !important;}.pml4z{margin-left:0px !important;}
}
@media (min-width: 320px){
	.sdn2,.sdn20,.sdn20 [class*=g-c]{display:none;}.sdn4,.sdn40,.sdn40 [class*=g-c]{display:none !important}
	.sdb2,.sdb20,.sdb20 [class*=g-c]{display:block;}.sdb4,.sdb40,.sdb40 [class*=g-c]{display:block !important}
	.sds2,.sds20,.sds20 [class*=g-c]{display:inline;}.sds4,.sds40,.sds40 [class*=g-c]{display:inline !important}
	.sdu2,.sdu20,.sdu20 [class*=g-c]{display:inline-block;}.sdu4,.sdu40,.sdu40 [class*=g-c]{display:inline-block !important}
	.sdt2,.sdt20,.sdt20 [class*=g-c]{display:table;}.sdt4,.sdt40,.sdt40 [class*=g-c]{display:table !important}
	.sdr2,.sdr20,.sdr20 [class*=g-c]{display:table-row;}.sdr4,.sdr40,.sdr40 [class*=g-c]{display:table-row !important}
	.sdc2,.sdc20,.sdc20 [class*=g-c]{display:table-cell;}.sdc4,.sdc40,.sdc40 [class*=g-c]{display:table-cell !important}
	.sl2{text-align:left;}
	.sc2{text-align:center;}
	.sr2{text-align:right;}
	.st2,.st20 [class*=g-c]{vertical-align:top;}
	.sm2,.sm20 [class*=g-c]{vertical-align:middle;}
	.sb2,.sb20 [class*=g-c]{vertical-align:bottom;}
	.snr2{white-space:nowrap;}
	.sfl2{float:left;}.sfr2{float:right;}
	.sw2{width:2000px;}.sww2{width:100%;}.swa2{width:auto;}.sws2{width:0;}
	
	.spt2z{padding-top:0px !important;}.spt4z{padding-top:0px !important;}
	.spr2z{padding-right:0px !important;}.spr4z{padding-right:0px !important;}
	.spb2z{padding-bottom:0px !important;}.spb4z{padding-bottom:0px !important;}
	.spl2z{padding-left:0px !important;}.spl4z{padding-left:0px !important;}
	.smt2z{margin-top:0px !important;}.smt4z{margin-top:0px !important;}
	.smr2z{margin-right:0px !important;}.smr4z{margin-right:0px !important;}
	.smb2z{margin-bottom:0px !important;}.smb4z{margin-bottom:0px !important;}
	.sml2z{margin-left:0px !important;}.sml4z{margin-left:0px !important;}
}

@media (min-width: 1221px){	
	.ldn2,.ldn20 [class*=g-c]{display:none;}.ldn4,.ldn40 [class*=g-c]{display:none !important}
	.ldb2,.ldb20 [class*=g-c]{display:block;}.ldb4,.ldb40 [class*=g-c]{display:block !important}
	.lds2,.lds20 [class*=g-c]{display:inline;}.lds4,.lds40 [class*=g-c]{display:inline !important}
	.ldu2,.ldu20 [class*=g-c]{display:inline-block;}.ldu4,.ldu40 [class*=g-c]{display:inline-block !important}
	.ldt2,.ldt20 [class*=g-c]{display:table;}.ldt4,.ldt40 [class*=g-c]{display:table !important}
	.ldr2,.ldr20 [class*=g-c]{display:table-row;}.ldr4,.ldr40 [class*=g-c]{display:table-row !important}
	.ldc2,.ldc20 [class*=g-c]{display:table-cell;}.ldc4,.ldc40 [class*=g-c]{display:table-cell !important}
	.ll2{text-align:left;}
	.lc2{text-align:center;}
	.lr2{text-align:right;}
	.lt2,.lt20 [class*=g-c]{vertical-align:top;}
	.lm2,.lm20 [class*=g-c]{vertical-align:middle;}
	.lb2,.lb20 [class*=g-c]{vertical-align:bottom;}
	.lnr2{white-space:nowrap;}
	.lfl2{float:left;}.lfr2{float:right;}
	.lw2{width:2000px;}.lww2{width:100%;}.lwa2{width:auto;}.lws2{width:0;}
	
	.lpt2z{padding-top:0px !important;}.lpt4z{padding-top:0px !important;}
	.lpr2z{padding-right:0px !important;}.lpr4z{padding-right:0px !important;}
	.lpb2z{padding-bottom:0px !important;}.lpb4z{padding-bottom:0px !important;}
	.lpl2z{padding-left:0px !important;}.lpl4z{padding-left:0px !important;}
	.lmt2z{margin-top:0px !important;}.lmt4z{margin-top:0px !important;}
	.lmr2z{margin-right:0px !important;}.lmr4z{margin-right:0px !important;}
	.lmb2z{margin-bottom:0px !important;}.lmb4z{margin-bottom:0px !important;}
	.lml2z{margin-left:0px !important;}.lml4z{margin-left:0px !important;}
	
	.g-l1{width:8.33333333%}.g-l2{width:16.66666666%}.g-l3{width:25%}.g-l4{width:33.33333332%}.g-l5{width:41.66666665%}.g-l6{width:50%}.g-l7{width:58.33333331%}.g-l8{width:66.66666664%}.g-l9{width:75%}.g-l10{width:83.3333333%}.g-l11{width:91.66666663000001%}.g-l12{width:100%}
}
@media (max-width:1220px) and (min-width:992px){
	.mdn,.mdn0 [class*=g-c]{display:none;}.mddn,.mddn0 [class*=g-c]{display:none !important}
	.mdb,.mdb0 [class*=g-c]{display:block;}.mddb,.mddb0 [class*=g-c]{display:block !important}
	.mds,.mds0 [class*=g-c]{display:inline;}.mdds,.mdds0 [class*=g-c]{display:inline !important}
	.mdu,.mdu0 [class*=g-c]{display:inline-block;}.mddu,.mddu0 [class*=g-c]{display:inline-block !important}
	.mdt,.mdt0 [class*=g-c]{display:table;}.mddt,.mddt0 [class*=g-c]{display:table !important}
	.mdr,.mdr0 [class*=g-c]{display:table-row;}.mddr,.mddr0 [class*=g-c]{display:table-row !important}
	.mdc,.mdc0 [class*=g-c]{display:table-cell;}.mddc,.mddc0 [class*=g-c]{display:table-cell !important}
	.ml{text-align:left;}
	.mc{text-align:center;}
	.mr{text-align:right;}
	.mt,.mt0 [class*=g-c]{vertical-align:top;}
	.mm,.mm0 [class*=g-c]{vertical-align:middle;}
	.mb,.mb0 [class*=g-c]{vertical-align:bottom;}
	.mnr{white-space:nowrap;}
	.mfl{float:left;}.mfr{float:right;}
	.mw{width:2000px;}.mww{width:100%;}.mwa{width:auto;}.mws{width:0;}
	
	.mptz{padding-top:0px !important;}.mpptz{padding-top:0px !important;}
	.mprz{padding-right:0px !important;}.mpprz{padding-right:0px !important;}
	.mpbz{padding-bottom:0px !important;}.mppbz{padding-bottom:0px !important;}
	.mplz{padding-left:0px !important;}.mpplz{padding-left:0px !important;}
	.mmtz{margin-top:0px !important;}.mmmtz{margin-top:0px !important;}
	.mmrz{margin-right:0px !important;}.mmmrz{margin-right:0px !important;}
	.mmbz{margin-bottom:0px !important;}.mmmbz{margin-bottom:0px !important;}
	.mmlz{margin-left:0px !important;}.mmmlz{margin-left:0px !important;}
	
	.mss3{height:160px !important;}.mss3>a{height:100% !important;}
	.g-m1{width:8.33333333%}.g-m2{width:16.66666666%}.g-m3{width:25%}.g-m4{width:33.33333332%}.g-m5{width:41.66666665%}.g-m6{width:50%}.g-m7{width:58.33333331%}.g-m8{width:66.66666664%}.g-m9{width:75%}.g-m10{width:83.3333333%}.g-m11{width:91.66666663000001%}.g-m12{width:100%}
}	
@media (max-width:991px) and (min-width:768px){
	.tdn,.tdn0 [class*=g-c]{display:none;}.tddn,.tddn0 [class*=g-c]{display:none !important}
	.tdb,.tdb0 [class*=g-c]{display:block;}.tddb,.tddb0 [class*=g-c]{display:block !important}
	.tds,.tds0 [class*=g-c]{display:inline;}.tdds,.tdds0 [class*=g-c]{display:inline !important}
	.tdu,.tdu0 [class*=g-c]{display:inline-block;}.tddu,.tddu0 [class*=g-c]{display:inline-block !important}
	.tdt,.tdt0 [class*=g-c]{display:table;}.tddt,.tddt0 [class*=g-c]{display:table !important}
	.tdr,.tdr0 [class*=g-c]{display:table-row;}.tddr,.tddr0 [class*=g-c]{display:table-row !important}
	.tdc,.tdc0 [class*=g-c]{display:table-cell;}.tddc,.tddc0 [class*=g-c]{display:table-cell !important}
	.tl{text-align:left;}
	.tc{text-align:center;}
	.tr{text-align:right;}
	.tt,.tt0 [class*=g-c]{vertical-align:top;}
	.tm,.tm0 [class*=g-c]{vertical-align:middle;}
	.tb,.tb0 [class*=g-c]{vertical-align:bottom;}
	.tnr{white-space:nowrap;}
	.tfl{float:left;}.tfr{float:right;}
	.tw{width:2000px;}.tww{width:100%;}.twa{width:auto;}.tws{width:0;}
	
	.tptz{padding-top:0px !important;}.tpptz{padding-top:0px !important;}
	.tprz{padding-right:0px !important;}.tpprz{padding-right:0px !important;}
	.tpbz{padding-bottom:0px !important;}.tppbz{padding-bottom:0px !important;}
	.tplz{padding-left:0px !important;}.tpplz{padding-left:0px !important;}
	.tmtz{margin-top:0px !important;}.tmmtz{margin-top:0px !important;}
	.tmrz{margin-right:0px !important;}.tmmrz{margin-right:0px !important;}
	.tmbz{margin-bottom:0px !important;}.tmmbz{margin-bottom:0px !important;}
	.tmlz{margin-left:0px !important;}.tmmlz{margin-left:0px !important;}
	
	.tss3{height:160px !important;}.tss3>a{height:100% !important;}
	.g-t1{width:8.33333333%}.g-t2{width:16.66666666%}.g-t3{width:25%}.g-t4{width:33.33333332%}.g-t5{width:41.66666665%}.g-t6{width:50%}.g-t7{width:58.33333331%}.g-t8{width:66.66666664%}.g-t9{width:75%}.g-t10{width:83.3333333%}.g-t11{width:91.66666663000001%}.g-t12{width:100%}
}
@media (max-width:767px) and (min-width:480px){
	.pdn,.pdn0 [class*=g-c]{display:none;}.pddn,.pddn0 [class*=g-c]{display:none !important}
	.pdb,.pdb0 [class*=g-c]{display:block;}.pddb,.pddb0 [class*=g-c]{display:block !important}
	.pds,.pds0 [class*=g-c]{display:inline;}.pdds,.pdds0 [class*=g-c]{display:inline !important}
	.pdu,.pdu0 [class*=g-c]{display:inline-block;}.pddu,.pddu0 [class*=g-c]{display:inline-block !important}
	.pdt,.pdt0 [class*=g-c]{display:table;}.pddt,.pddt0 [class*=g-c]{display:table !important}
	.pdr,.pdr0 [class*=g-c]{display:table-row;}.pddr,.pddr0 [class*=g-c]{display:table-row !important}
	.pdc,.pdc0 [class*=g-c]{display:table-cell;}.pddc,.pddc0 [class*=g-c]{display:table-cell !important}
	.pl{text-align:left;}
	.pc{text-align:center;}
	.pr{text-align:right;}
	.pt,.pt0 [class*=g-c]{vertical-align:top;}
	.pm,.pm0 [class*=g-c]{vertical-align:middle;}
	.pb,.pb0 [class*=g-c]{vertical-align:bottom;}
	.pnr{white-space:nowrap;}
	.pfl{float:left;}.pfr{float:right;}
	.pw{width:2000px;}.pww{width:100%;}.pwa{width:auto;}.pws{width:0;}
	
	.pptz{padding-top:0px !important;}.ppptz{padding-top:0px !important;}
	.pprz{padding-right:0px !important;}.ppprz{padding-right:0px !important;}
	.ppbz{padding-bottom:0px !important;}.pppbz{padding-bottom:0px !important;}
	.pplz{padding-left:0px !important;}.ppplz{padding-left:0px !important;}
	.pmtz{margin-top:0px !important;}.pmmtz{margin-top:0px !important;}
	.pmrz{margin-right:0px !important;}.pmmrz{margin-right:0px !important;}
	.pmbz{margin-bottom:0px !important;}.pmmbz{margin-bottom:0px !important;}
	.pmlz{margin-left:0px !important;}.pmmlz{margin-left:0px !important;}
	
	.pss3{height:160px !important;}.pss3>a{height:100% !important;}
	.g-p1{width:8.33333333%}.g-p2{width:16.66666666%}.g-p3{width:25%}.g-p4{width:33.33333332%}.g-p5{width:41.66666665%}.g-p6{width:50%}.g-p7{width:58.33333331%}.g-p8{width:66.66666664%}.g-p9{width:75%}.g-p10{width:83.3333333%}.g-p11{width:91.66666663000001%}.g-p12{width:100%}
}	

@media (max-width: 479px){
	.sdn,.sdn0 [class*=g-c]{display:none;}.sddn,.sddn0 [class*=g-c]{display:none !important}
	.sdb,.sdb0 [class*=g-c]{display:block;}.sddb,.sddb0 [class*=g-c]{display:block !important}
	.sds,.sds0 [class*=g-c]{display:inline;}.sdds,.sdds0 [class*=g-c]{display:inline !important}
	.sdu,.sdu0 [class*=g-c]{display:inline-block;}.sddu,.sddu0 [class*=g-c]{display:inline-block !important}
	.sdt,.sdt0 [class*=g-c]{display:table;}.sddt,.sddt0 [class*=g-c]{display:table !important}
	.sdr,.sdr0 [class*=g-c]{display:table-row;}.sddr,.sddr0 [class*=g-c]{display:table-row !important}
	.sdc,.sdc0 [class*=g-c]{display:table-cell;}.sddc,.sddc0 [class*=g-c]{display:table-cell !important}
	.sl{text-align:left;}
	.sc{text-align:center;}
	.sr{text-align:right;}
	.st,.st0 [class*=g-c]{vertical-align:top;}
	.sm,.sm0 [class*=g-c]{vertical-align:middle;}
	.sb,.sb0 [class*=g-c]{vertical-align:bottom;}
	.snr{white-space:nowrap;}
	.sfl{float:left;}.sfr{float:right;}
	.sww{width:100%;}.swa{width:auto;}.sws{width:0;}
	//.sw{width:2000px;} sw acn
	.sptz{padding-top:0px !important;}.spptz{padding-top:0px !important;}
	.sprz{padding-right:0px !important;}.spprz{padding-right:0px !important;}
	.spbz{padding-bottom:0px !important;}.sppbz{padding-bottom:0px !important;}
	.splz{padding-left:0px !important;}.spplz{padding-left:0px !important;}
	.smtz{margin-top:0px !important;}.smmtz{margin-top:0px !important;}
	.smrz{margin-right:0px !important;}.smmrz{margin-right:0px !important;}
	.smbz{margin-bottom:0px !important;}.smmbz{margin-bottom:0px !important;}
	.smlz{margin-left:0px !important;}.smmlz{margin-left:0px !important;}
	
	.g-s1{width:8.33333333%}.g-s2{width:16.66666666%}.g-s3{width:25%}.g-s4{width:33.33333332%}.g-s5{width:41.66666665%}.g-s6{width:50%}.g-s7{width:58.33333331%}.g-s8{width:66.66666664%}.g-s9{width:75%}.g-s10{width:83.3333333%}.g-s11{width:91.66666663000001%}.g-s12{width:100%}
}	










/* ===================== -G R I D E ===================== */