doctype html
html
    head
        title Наполнители
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon" href="S.ico" type="image/x-icon")
        link(rel='stylesheet' href='carousel/owl.carousel.css')
        link(rel='stylesheet' href='carousel/owl.theme.default.css')
        link(rel='stylesheet' href='css/css.css')
        script(type='text/javascript' src='js/jquery-2.1.4.min.js')
        script(type='text/javascript' src='carousel/owl.carousel.min.js')
        script(type='text/javascript' src='js/js.js')
    body
        header.hr
            .hr-c
                .hr1
                    .c
                        a.hr1-a
                            img.hr1-f(src='img/hr1-1.svg')
                        .hr1-b
                            .hr1-b-1
                                a.hr1-a1(href='mailto:sorbent1@mail.ru')
                                    = 'sorbent1@mail.ru'
                                br
                                a.hr1-a1(href='tel:+73432675172')
                                    = '+7 343 267-51-72'
                                br
                                a.hr1-a1(href='tel:+73432674896')
                                    = '+7 343 267-48-96'
                            a.hr1-b-2(href='#')
                                img.hr1-f1(src='img/hr1-2.svg')
                                .hr1-w
                                    ='Сделать заказ'
                .hr2
                    .c
                        ul.menu
                            li.menu-li
                                a.menu-a(href='#')
                                    ='Главная'
                            li.menu-li
                                span(class='menu-a act')
                                    ='Наполнители'
                            li.menu-li
                                a.menu-a(href='#')
                                    ='Сорбенты'
                            li.menu-li
                                a.menu-a(href='#')
                                    ='О компании'
                            li.menu-li
                                a.menu-a(href='#')
                                    ='Контакты'

        div(class='b2 c')
            div(class='b2-crl owl-carousel owl-theme')
                .item(style='background-image:url(img/b2-3.png)')
                    .b2-b
                        .b2-h
                            ='Минеральный наполнитель эконом класса из опоки '
                        ul.b2-ul
                            li.b2-li
                                ='Высокая пористость способствует впитыванию влаги и блокировке запахов   '
                            li.b2-li
                                ='Натуральный наполнитель безвреден для питомцев' 
                            li.b2-li
                                ='Структура гранул препятствует рассыпанию наполнителя при зарывании' 
                            li.b2-li
                                ='Разные размеры гранул для разных пород любимцев'
                .item(style='background-image:url(img/b2-1.png)')
                    .b2-b
                        .b2-h
                            ='Минеральный наполнитель на основе диатомита'
                        ul.b2-ul
                            li.b2-li
                                ='Впитывает влагу и устраняет запахи '
                            li.b2-li
                                ='Округлые гранулы не вызывают раздражения у питомца' 
                            li.b2-li
                                ='Гранулы комкуются и их удобно убирать ' 
                            li.b2-li
                                ='Разные размеры гранул для разных пород любимцев'
                .item(style='background-image:url(img/b2-2.png)')
                    .b2-b
                        .b2-h
                            ='Древесный наполнитель'
                        ul.b2-ul
                            li.b2-li
                                ='Обладает природным ароматом хвои и абсолютно экологичен'
                            li.b2-li
                                ='Впитываемый объем влаги в 2,5 раза превышает объем гранул' 
                            li.b2-li
                                ='Можно безопасно утилизировать в унитаз' 
                            li.b2-li
                                ='Низкая цена в сравнении с другими наполнителями'  
                .item(style='background-image:url(img/b2-4.png)')
                    .b2-b
                        .b2-h
                            ='Наполнитель на основе силикагеля'
                        ul.b2-ul
                            li.b2-li
                                ='Устраняет неприятные запахи и влагу в помещении '
                            li.b2-li
                                ='Допускает перемешивание гранул вместо их утилизации ' 
                            li.b2-li
                                ='3,8 литров хватает более чем на две недели использования ' 
                            li.b2-li
                                ='Антибактериальный эффект '
                            li.b2-li
                                ='Гранулы не являются источником пыли и не прилипают к лапкам  '

        .c0
            .c
                .b3
                    table(class='b3-t b3-t_1')
                        tr
                            td.b3-th
                            td.b3-th
                            td.b3-th
                                ='Универсальный'
                            td.b3-th
                                ='Длинношерстные'
                            td.b3-th
                                ='Короткошерстные'
                            td.b3-th
                                ='Котята'
                        tr
                            td(class='b3-td b3-td_1' rowspan='4')
                                .b3-w2
                                    .b3-w2-1
                                        ='Минеральный'
                            td(class='b3-td b3-td_2')
                                .b3-w2
                                    .b3-w2-1
                                        ='3л'
                            td.b3-td
                            td.b3-td
                                .b3-h5
                                    ='Длинношерстые'
                                table.b3-t1
                                    tr
                                        td.b3-td1
                                            img.b3-f(src='img/g-1.png')
                                        td.b3-td1
                                            .b3-b
                                                h2.b3-h
                                                    ='Тип-Топ для длинно - шерстных'
                                                .b3-w
                                                    ='3 литра'
                                            .b3-h1
                                                ='Кол-во продукции:'
                                            .qnyk
                                                .qny
                                                    p.mns(data-drn='down')
                                                        
                                                    input.nmr(type='text' name='qny' maxlength='3' value='0')
                                                    p.pls(data-drn='up')
                                                        
                                                .b3-w1
                                                    ='шт'
                            td.b3-td
                                .b3-h5
                                    ='Короткошерстные'
                                table.b3-t1
                                    tr
                                        td.b3-td1
                                            img.b3-f(src='img/g-2.png')
                                        td.b3-td1
                                            .b3-b
                                                h2.b3-h
                                                    ='Тип-Топ для коротко - шерстных'
                                                .b3-w
                                                    ='3 литра'
                                            .b3-h1
                                                ='Кол-во продукции:'
                                            .qnyk
                                                .qny
                                                    p.mns(data-drn='down')
                                                        
                                                    input.nmr(type='text' name='qny' maxlength='3' value='0')
                                                    p.pls(data-drn='up')
                                                        
                                                .b3-w1
                                                    ='шт'
                            td.b3-td
                        tr
                            td.b3-td
                                .b3-w2
                                    .b3-w2-1
                                        ='5л'
                            td.b3-td
                            td.b3-td
                                .b3-h5
                                    ='Длинношерстые'
                                table.b3-t1
                                    tr
                                        td.b3-td1
                                            img.b3-f(src='img/g-3.png')
                                        td.b3-td1
                                            .b3-b
                                                h2.b3-h
                                                    ='Тип-Топ для длинно - шерстных'
                                                .b3-w
                                                    ='5 литров'
                                            .b3-h1
                                                ='Кол-во продукции:'
                                            .qnyk
                                                .qny
                                                    p.mns(data-drn='down')
                                                        
                                                    input.nmr(type='text' name='qny' maxlength='3' value='0')
                                                    p.pls(data-drn='up')
                                                        
                                                .b3-w1
                                                    ='шт'
                            td.b3-td
                                .b3-h5
                                    ='Короткошерстные'
                                table.b3-t1
                                    tr
                                        td.b3-td1
                                            img.b3-f(src='img/g-4.png')
                                        td.b3-td1
                                            .b3-b
                                                h2.b3-h
                                                    ='Тип-Топ для коротко - шерстных'
                                                .b3-w
                                                    ='5 литров'
                                            .b3-h1
                                                ='Кол-во продукции:'
                                            .qnyk
                                                .qny
                                                    p.mns(data-drn='down')
                                                        
                                                    input.nmr(type='text' name='qny' maxlength='3' value='0')
                                                    p.pls(data-drn='up')
                                                        
                                                .b3-w1
                                                    ='шт'
                            td.b3-td
                                .b3-h5
                                    ='Котята'
                                table.b3-t1
                                    tr
                                        td.b3-td1
                                            img.b3-f(src='img/g-5.png')
                                        td.b3-td1
                                            .b3-b
                                                h2.b3-h
                                                    ='Тип-Топ для котят'
                                                .b3-w
                                                    ='5 литров'
                                            .b3-h1
                                                ='Кол-во продукции:'
                                            .qnyk
                                                .qny
                                                    p.mns(data-drn='down')
                                                        
                                                    input.nmr(type='text' name='qny' maxlength='3' value='0')
                                                    p.pls(data-drn='up')
                                                        
                                                .b3-w1
                                                    ='шт'
                        tr
                            td.b3-td
                                .b3-w2
                                    .b3-w2-1
                                        ='7л'
                            td.b3-td
                                .b3-h5
                                    ='Универсальный'
                                table.b3-t1
                                    tr
                                        td.b3-td1
                                            img.b3-f(src='img/g-6.png')
                                        td.b3-td1
                                            .b3-b
                                                h2.b3-h
                                                    ='Тип-Топ универ - сальный'
                                                .b3-w
                                                    ='7 литров'
                                            .b3-h1
                                                ='Кол-во продукции:'
                                            .qnyk
                                                .qny
                                                    p.mns(data-drn='down')
                                                        
                                                    input.nmr(type='text' name='qny' maxlength='3' value='0')
                                                    p.pls(data-drn='up')
                                                        
                                                .b3-w1
                                                    ='шт'
                            td.b3-td
                                .b3-h5
                                    ='Длинношерстные'
                                table.b3-t1
                                    tr
                                        td.b3-td1
                                            img.b3-f(src='img/g-7.png')
                                        td.b3-td1
                                            .b3-b
                                                h2.b3-h
                                                    ='Тип-Топ для длинно - шерстных'
                                                .b3-w
                                                    ='7 литров'
                                            .b3-h1
                                                ='Кол-во продукции:'
                                            .qnyk
                                                .qny
                                                    p.mns(data-drn='down')
                                                        
                                                    input.nmr(type='text' name='qny' maxlength='3' value='0')
                                                    p.pls(data-drn='up')
                                                        
                                                .b3-w1
                                                    ='шт'
                            td.b3-td
                                .b3-h5
                                    ='Короткошерстные'
                                table.b3-t1
                                    tr
                                        td.b3-td1
                                            img.b3-f(src='img/g-8.png')
                                        td.b3-td1
                                            .b3-b
                                                h2.b3-h
                                                    ='Тип-Топ для коротко - шерстных'
                                                .b3-w
                                                    ='7 литров'
                                            .b3-h1
                                                ='Кол-во продукции:'
                                            .qnyk
                                                .qny
                                                    p.mns(data-drn='down')
                                                        
                                                    input.nmr(type='text' name='qny' maxlength='3' value='0')
                                                    p.pls(data-drn='up')
                                                        
                                                .b3-w1
                                                    ='шт'
                            td.b3-td
                        tr
                            td.b3-td
                                .b3-w2
                                    .b3-w2-1
                                        ='15л'
                            td.b3-td
                                .b3-h5
                                    ='Универсальный'
                                table.b3-t1
                                    tr
                                        td.b3-td1
                                            img.b3-f(src='img/g-9.png')
                                        td.b3-td1
                                            .b3-b
                                                h2.b3-h
                                                    ='Тип-Топ универ - сальный'
                                                .b3-w
                                                    ='15 литров'
                                            .b3-h1
                                                ='Кол-во продукции:'
                                            .qnyk
                                                .qny
                                                    p.mns(data-drn='down')
                                                        
                                                    input.nmr(type='text' name='qny' maxlength='3' value='0')
                                                    p.pls(data-drn='up')
                                                        
                                                .b3-w1
                                                    ='шт'
                            td.b3-td
                                .b3-h5
                                    ='Длинношерстные'
                                table.b3-t1
                                    tr
                                        td.b3-td1
                                            img.b3-f(src='img/g-10.png')
                                        td.b3-td1
                                            .b3-b
                                                h2.b3-h
                                                    ='Тип-Топ для длинно - шерстных'
                                                .b3-w
                                                    ='15 литров'
                                            .b3-h1
                                                ='Кол-во продукции:'
                                            .qnyk
                                                .qny
                                                    p.mns(data-drn='down')
                                                        
                                                    input.nmr(type='text' name='qny' maxlength='3' value='0')
                                                    p.pls(data-drn='up')
                                                        
                                                .b3-w1
                                                    ='шт'
                            td(class='b3-td b3-td_3' colspan='2')
                                .b3-h5
                                    ='Короткошерстные и котята'
                                table.b3-t1
                                    tr
                                        td.b3-td1
                                            img.b3-f(src='img/g-11.png')
                                        td.b3-td1
                                            .b3-b
                                                h2.b3-h
                                                    ='Тип-Топ для короткошерстных и котят'
                                                .b3-w
                                                    ='15 литров'
                                            .b3-h1
                                                ='Кол-во продукции:'
                                            .qnyk
                                                .qny
                                                    p.mns(data-drn='down')
                                                        
                                                    input.nmr(type='text' name='qny' maxlength='3' value='0')
                                                    p.pls(data-drn='up')
                                                        
                                                .b3-w1
                                                    ='шт'

                    table(class='b3-t')
                        tr
                            td(class='b3-td b3-td_1')
                                .b3-w2
                                    div(class='b3-w2-1 b3-w2-1_1')
                                        ='Минеральный эконом'
                            td(class='b3-td b3-td_2')
                                .b3-w2
                                    .b3-w2-1
                                        ='5л'
                            td.b3-td
                            td.b3-td
                                .b3-h5
                                    ='Длинношерстые'
                                table.b3-t1
                                    tr
                                        td.b3-td1
                                            img.b3-f(src='img/g-12.png')
                                        td.b3-td1
                                            .b3-b
                                                h2.b3-h
                                                    ='Пемакон для длинно - шерстных'
                                                .b3-w
                                                    ='5 литров'
                                            .b3-h1
                                                ='Кол-во продукции:'
                                            .qnyk
                                                .qny
                                                    p.mns(data-drn='down')
                                                        
                                                    input.nmr(type='text' name='qny' maxlength='3' value='0')
                                                    p.pls(data-drn='up')
                                                        
                                                .b3-w1
                                                    ='шт'
                            td.b3-td
                                .b3-h5
                                    ='Короткошерстные'
                                table.b3-t1
                                    tr
                                        td.b3-td1
                                            img.b3-f(src='img/g-13.png')
                                        td.b3-td1
                                            .b3-b
                                                h2.b3-h
                                                    ='Пемакон для коротко - шерстных'
                                                .b3-w
                                                    ='5 литров'
                                            .b3-h1
                                                ='Кол-во продукции:'
                                            .qnyk
                                                .qny
                                                    p.mns(data-drn='down')
                                                        
                                                    input.nmr(type='text' name='qny' maxlength='3' value='0')
                                                    p.pls(data-drn='up')
                                                        
                                                .b3-w1
                                                    ='шт'
                            td.b3-td

                    table.b3-t2
                        tr
                            td.b3-td2
                                table(class='b3-t b3-t_2')
                                    tr
                                        td(class='b3-td b3-td_1' rowspan='3')
                                            .b3-w2
                                                div(class='b3-w2-1 b3-w2-1_1')
                                                    ='Древесный'
                                        td(class='b3-td b3-td_2')
                                            .b3-w2
                                                .b3-w2-1
                                                    ='5л'
                                        td.b3-td
                                            .b3-h5
                                                ='Универсальный'
                                            table.b3-t1
                                                tr
                                                    td.b3-td1
                                                        img.b3-f(src='img/g-14.png')
                                                    td.b3-td1
                                                        .b3-b
                                                            h2.b3-h
                                                                ='Тип-Топ универ - сальный'
                                                            .b3-w
                                                                ='5 литров'
                                                        .b3-h1
                                                            ='Кол-во продукции:'
                                                        .qnyk
                                                            .qny
                                                                p.mns(data-drn='down')
                                                                    
                                                                input.nmr(type='text' name='qny' maxlength='3' value='0')
                                                                p.pls(data-drn='up')
                                                                    
                                                            .b3-w1
                                                                ='шт'
                                    tr
                                        td(class='b3-td')
                                            .b3-w2
                                                .b3-w2-1
                                                    ='7л'
                                        td.b3-td
                                            table.b3-t1
                                                tr
                                                    td.b3-td1
                                                        img.b3-f(src='img/g-15.png')
                                                    td.b3-td1
                                                        .b3-b
                                                            h2.b3-h
                                                                ='Тип-Топ универ - сальный'
                                                            .b3-w
                                                                ='7 литров'
                                                        .b3-h1
                                                            ='Кол-во продукции:'
                                                        .qnyk
                                                            .qny
                                                                p.mns(data-drn='down')
                                                                    
                                                                input.nmr(type='text' name='qny' maxlength='3' value='0')
                                                                p.pls(data-drn='up')
                                                                    
                                                            .b3-w1
                                                                ='шт'
                                    tr
                                        td(class='b3-td')
                                            .b3-w2
                                                .b3-w2-1
                                                    ='15л'
                                        td.b3-td
                                            table.b3-t1
                                                tr
                                                    td.b3-td1
                                                        img.b3-f(src='img/g-16.png')
                                                    td.b3-td1
                                                        .b3-b
                                                            h2.b3-h
                                                                ='Тип-Топ универ - сальный'
                                                            .b3-w
                                                                ='15 литров'
                                                        .b3-h1
                                                            ='Кол-во продукции:'
                                                        .qnyk
                                                            .qny
                                                                p.mns(data-drn='down')
                                                                    
                                                                input.nmr(type='text' name='qny' maxlength='3' value='0')
                                                                p.pls(data-drn='up')
                                                                    
                                                            .b3-w1
                                                                ='шт'
                                    tr.b3-tr
                                        td(class='b3-td')
                                        td(class='b3-td')
                                        td.b3-td
                                    tr
                                        td(class='b3-td b3-td_1')
                                            .b3-w2
                                                div(class='b3-w2-1 b3-w2-1_1')
                                                    ='Силикагелиевый'
                                        td(class='b3-td')
                                            .b3-w2
                                                .b3-w2-1
                                                    ='3,8л'
                                        td.b3-td
                                            .b3-h5
                                                ='Универсальный'
                                            table.b3-t1
                                                tr
                                                    td.b3-td1
                                                        img.b3-f(src='img/g-17.png')
                                                    td.b3-td1
                                                        .b3-b
                                                            h2.b3-h
                                                                ='Тип-Топ универ - сальный'
                                                            .b3-w
                                                                ='3,8 литров'
                                                        .b3-h1
                                                            ='Кол-во продукции:'
                                                        .qnyk
                                                            .qny
                                                                p.mns(data-drn='down')
                                                                    
                                                                input.nmr(type='text' name='qny' maxlength='3' value='0')
                                                                p.pls(data-drn='up')
                                                                    
                                                            .b3-w1
                                                                ='шт'
                                td.b3-td2
                                    .b3-h2
                                        ='Ваш заказ'
                                    .b3-w3
                                        ='Заказанные позиции:'
                                    .b3-b1
                                        .b3-bn
                                        .b3-h3
                                            span.b3-h3-1
                                                ='Тип-Топ для длинношерстых'
                                            span.b3-h3-2
                                                ='(Минеральный)'
                                        .b3-w4
                                            span.b3-w4-1
                                                ='3 литра'
                                            span.b3-w4-2
                                                ='6 шт'
                                    .b3-b1
                                        .b3-bn
                                        .b3-h3
                                            span.b3-h3-1
                                                ='Тип-Топ для длинношерстых'
                                            span.b3-h3-2
                                                ='(Минеральный)'
                                        .b3-w4
                                            span.b3-w4-1
                                                ='3 литра'
                                            span.b3-w4-2
                                                ='6 шт'

                                    .b3-b2
                                        table.b3-t3
                                            tr
                                                td.b3-td3
                                                    img.b3-f1(src='img/b3-5.svg')
                                                td.b3-td3
                                                    .b3-h4
                                                        ='Совокупный объем:'
                                                    .b3-w5
                                                        ='500'
                                                    .b3-w6
                                                        ='литров'
                                        table(class='b3-t3 b3-t3_1')
                                            tr
                                                td.b3-td3
                                                    img.b3-f1(src='img/b3-6-1.svg')
                                                td.b3-td3
                                                    .b3-h4
                                                        ='Совокупная масса:'
                                                    .b3-w5
                                                        ='500'
                                                    .b3-w7
                                                        ='килограмм'

                div(class='b4 c')
                    img.b4-f(src='img/b4-1.svg')
                    .b4-w
                        ='Доставка осуществляется при заказе от 200 кг'
                    a.b4-bn(href='#')
                        ='Добавить к заказу'

    .ftr
        .c
            a.ftr-a(href='#')
                img.ftr-a-f(src='img/ftr-1.svg')
            ul.menu1
                li.menu1-li
                    a.menu1-a(href='#')
                        ='Главная'
                li.menu1-li
                    a.menu1-a(href='#')
                        ='Сорбенты'
                li.menu1-li
                    a.menu1-a(href='#')
                        ='Наполнители'
                li.menu1-li
                    a.menu1-a(href='#')
                        ='О компании'
                li.menu1-li
                    a.menu1-a(href='#')
                        ='Контакты'
            .ftr-b
                a.ftr-a1(href='#')
                    img.ftr-a1-f(src='img/ftr-2.png')
                a.ftr-a1(href='#')
                    img.ftr-a1-f(src='img/ftr-3.png')
                a.ftr-a1(href='#')
                    img.ftr-a1-f(src='img/ftr-4.png')
            .ftr-w
                ='Copyright © 2018 Sorbent. All Rights Reserved.'

                        
